@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: inherit;
}

html{
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px; 
}

html::-webkit-scrollbar-track {
background-color:rgba(4, 58, 109);
}

html::-webkit-scrollbar-thumb {
background:#96c2ff;
border-radius: 25px;
}

.body1{
  display: flex;
  width: 100%;
  height: 100vh;
}

.sec1{
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5vh;
}

.sec2{
  width: 56%;
}

.sec2 img{
  width: 100%;
  height: 100%;
}

.sec3{
  width: 50%;
  right: -42vw;
  position: fixed;
  display: flex;
  height: 100vh;
  background: #0455CB;
  z-index: 11;
  transition: all 0.6s ease;
}

.plane{
  transition: all 0.6s ease;
}

.sideNav1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5vw;
}

.sideNav1 img{
  width: 5vw;
}

.social{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 3vh;
}

.social img{
  width: 4vw;
  margin-left: 0.5vw;
  transition: all 0.6s ease 0s;
}

.social img:hover{
  opacity: 0.7;
}

.logo1{
  margin-top: 3vh;
}

.sideNav2{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.tab{
  cursor: pointer;
  font-family: Montserrat;
  color: white;
  font-size: 5vw;
}

.tab a{
  text-decoration: none;
  transition: all 0.5s ease;
  color: inherit;
}

.tab a:hover{
  color: rgb(127, 187, 255);
}

.text{
  width: 75%;
  color: #0D5FD6;
  font-weight: normal;
  font-family: Montserrat;
  margin-bottom: 6vh;
}

.sec1 h4{
  font-weight: bold;
  font-size: x-large;
  font-family: Montserrat;
  color: #0d5dd6;
  padding-top: 1vh;
  padding-left: 10%;
  padding-right: 10%;
}

.app{
  display: flex;
  gap: 2vw;
}

.about{
  width: 92%;
  margin-top: 20vh;
  padding-top: 14vh;
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
}

.about1{
  display: flex;
  justify-content: center;
  width: 90%;
}

.about h1{
  color: #0455CB;
  margin-bottom: 10vh;
  font-size: 4vw ;
}

.set{
  width: 27%;
  padding: 2vw;
}

.set h2{
  padding: 2vw;
  color: white;
}

.set p{
  padding: 2vw;
  color: rgba(255, 255, 255,0.9);
}

#first{
  background-color: #0D5FD6;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
#second{
  background-color: rgb(32, 121, 255);
}
#third{
  background-color: #65a2ff;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.contact{
  width: 92%;
  margin-top: 20vh;
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14vh;
  font-family: Montserrat;
}

.contact1{
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact h1{
  color: #0455CB;
  margin-bottom: 10vh;
  font-size: 4vw ;
}

.contact #first{
  width: 35%;
  display: flex;
  flex-direction: column;
  /* padding: 0vw;
  padding-top: 2vw;
  padding-bottom: 2vw; */
  justify-content: center;
  gap: 4vh;
  background-color: #C1DBFF;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.contact #first img{
  width: 3.5rem;
}

.contact #second{
  width: 35%;
  display: flex;
  justify-content: center;
  background-color: #0D5FD6;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.con{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.con1{
  background-color: #0455CB;
  padding: 2%;
  cursor: pointer;
  font-size: x-large;
  color: white;
  border-radius: 1.5rem;
  transition: all 0.6s ease;
  text-align: center;
  width: 70%;
}

#copy_btn{
  transition: all 0.6s ease;
  color: white;
}

#copy_btn:hover{
  color: #7aafff;
}

.con1:active{
  opacity: 0.2;
}

.con1:hover{
  color: #7aafff;
}


.head{
  display: flex;
  padding: 2vw;
  gap: 0.5vw;
}

.head img{
  width: 6vw;
}

.topnav{
  position: fixed;
  background: #0455CB;
  display: none;
  flex-direction: column;
  width: 100%;
  top: -79vw;
  gap: 4vh;
  z-index: 11;
  transition: all 0.6s ease 0s;
}

.contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  gap: 5vw;
  color: white;
  font-family: Montserrat;
  font-size: 10vw;
}

.logos{
  display: flex;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 4%;
  justify-content: space-between;
}

.logos img{
  height:  2.5rem; 
}

.key2{
  transition: all 0.6s ease 0s;
}

.mascot{
  margin-top: 15vh;
  background: linear-gradient(to top,rgb(71, 181, 255),rgb(53, 134, 255));
  width: 93%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
  font-family: Montserrat;
}

.mob{
  padding-top: 5vh;
  animation: float 2s ease-in-out infinite;
}

.cloud{
  position: absolute;
  left: 2vw;
  height: 50vh;
}

.cloud1{
  position: absolute;
  right: 3vw;
  height: 50vh;
}

.ban{
  display: flex;
  flex-direction: column;
  height: 60%;
  align-items: center;
  gap: 10vh;
  justify-content: center;
}

.launch{
  display: flex;
  flex-direction: column;
  gap: 4vh;
  align-items: center;
}

.line1{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
}


.line2{
  font-size: x-large;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

footer{
  background-color: rgb(6, 30, 73);
  height: 50vh;
}

@media (max-width:1100px) {
  .sec1{
    width: 100%;
  }
  .sec2{
    display: none;
  }
  .sec3{
    display: none;
  }
  .about{
    width: 100%;
  }
  .contact{
    width: 100%;
  }
  .topnav{
    display: flex;
  }
  .cloud{
    display: none;
  }
  .cloud1{
    display: none;
  }
  .mascot{
    width: 100%;
  }
}

@media (max-width:800px){
  .about{
    margin-top: 0vh;
    margin-bottom: 0vh;
    padding-top: 18vh;
  }
  .contact{
    padding-top: 20vh;
    margin-top: 0vh;
  }
  .about1{
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  #first{
    border-top-right-radius: 1em;
    width: 70%;
    border-bottom-left-radius: 0em;
  }
  #second{
   width: 70%;
 }
  #third{
    border-top-right-radius: 0em;
    width: 70%;
    border-bottom-left-radius: 1em;
 }
 .about h1{
   width: 70%;
  font-size: 8vw;
  margin-bottom: 8vh;
  text-align: center;
}
 .contact1{
   align-items: center;
   width: 100%;
   flex-direction: column;
 }
 .contact h1{
   font-size: 8vw;
   margin-bottom: 8vh;
   text-align: center;
   width: 70%;
 }
  .contact #first{
  order: 2;
  width: 70%;
  gap: 0;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.contact #second img{
  width: 100%;
}

.contact #first img{
  width: 15%;
}

.con{
  gap: 0px;
  justify-content: space-evenly;
  padding: 2%;
  color: white;
  border-radius: 1.5rem;
  text-align: center;
  width: 100%;
}
.con1{
  width: 60%;
  font-size: 4vw;
}
   .contact #second{
     order: 1;
     border-top-left-radius: 1em;
     border-top-right-radius: 1em;
     border-bottom-left-radius: 0em;
     border-bottom-right-radius: 0em;
     width: 70%;
   }

   .head{
    padding: 7vw;
    padding-bottom: 1vh;
   }
   .head img{
     width: 20%;
   }
   .set p{
     padding: 7vw;
   }
   .logo img{
     width: 50vw;
   }
   .mascot{
     padding-top: 10vh;
     padding-bottom: 10vh;
     flex-direction: column;
     height: max-content;
   }
   .line1{
     font-size: x-large;
   }
   .mob{
     padding-top: 0px;
     animation: none;
   }
}


@media (min-height:1300px) {
  .about{
    margin-top: 20vh;
    margin-bottom: 0vh;
  }
  .contact{
    margin-top: 20vh;
  }
  .about1{
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  #first{
    border-top-right-radius: 1em;
    width: 70%;
    border-bottom-left-radius: 0em;
  }
  #second{
   width: 70%;
 }
  #third{
    border-top-right-radius: 0em;
    width: 70%;
    border-bottom-left-radius: 1em;
 }
 .about h1{
   width: 70%;
  font-size: 8vw;
  margin-bottom: 8vh;
  text-align: center;
}
 .contact1{
   align-items: center;
   width: 100%;
   flex-direction: column;
 }
 .contact h1{
   font-size: 8vw;
   margin-bottom: 8vh;
   text-align: center;
   width: 70%;
 }
  .contact #first{
  order: 2;
  width: 70%;
  gap: 0;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.contact #second img{
  width: 100%;
}

.contact #first img{
  width: 15%;
}

.con{
  gap: 0px;
  justify-content: space-evenly;
  padding: 2%;
  color: white;
  border-radius: 1.5rem;
  text-align: center;
  width: 100%;
}
.con1{
  width: 60%;
  font-size: 4vw;
}
   .contact #second{
     order: 1;
     border-top-left-radius: 1em;
     border-top-right-radius: 1em;
     border-bottom-left-radius: 0em;
     border-bottom-right-radius: 0em;
     width: 70%;
   }

   .head{
    padding: 7vw;
    padding-bottom: 1vh;
   }
   .head img{
     width: 20%;
   }
   .logos img{
    height:  6.5rem; 
  }
}

@media (max-width:500px) {
  .topnav{
    top: -83vw;
  }
}

@media (max-height:420px) {
  .topnav{
    display: none;
  }
  .sec3{
    display: flex;
  }
  .sec1{
    width: 92%;
  }
  .contact{
    width: 92%;
  }
  .about{
    width: 92%;
  }
  .contact #second img {
    width: 100%;
}
.con1{
  font-size: large;
  width: 65%;
}
.contact #first img {
  width: 3rem;
}
}

@media (min-height:1000px) {
  .logos img{
    height:  4.5rem; 
  }
  .text h2{
    font-size: xx-large;
  }
  .sec1 h4{
    font-size: xx-large;
  }
  .app img{
    width: 30vw;
  }
  .set p {
    font-size: larger;
  }
}

 



.hidder{
  display: none;
  position:fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(4, 85, 203,0.3);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.exp{
  right: 0px;
}
.rot{
  transform: rotateZ(180deg);
}
.display{
  display: block;
}

.exp1{
  top: 0px;
}

@keyframes float {
  0%{
    margin-top: -5vh;
  }
  50%{
    margin-top: 0vh;
  }
  100%{
    margin-top: -5vh;
  }
}